<div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
        <li class="nav-item" *ngIf="currentUser$ | async">
            <a
                class="nav-link"
                [routerLink]="toggleOptions.firstLink.link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                >{{ toggleOptions.firstLink.text }}</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="toggleOptions.secondLink.link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                queryParamsHandling="merge"
                >{{ toggleOptions.secondLink.text }}</a
            >
        </li>
        <li class="nav-item" *ngIf="tagName">
            <a
                class="nav-link"
                [routerLink]="['/tags', tagName]"
                routerLinkActive="router-link-active"
                routerLinkActive="active"
            >
                <i class="ion-pound"></i>
                {{ tagName }}
            </a>
        </li>
    </ul>
</div>
